<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>request</title>
</head>

<body>
    <h1>Weather Information</h1>
    <h3>{{ message }}</h3>
    <form action="">
        <select name="検索フォーム" id="">
            <option value="">--選択してください--</option>
            <option value="2700">大阪</option>
            <option value="2800">兵庫(神戸)</option>
            <option value="2900">奈良</option>
            <option value="3000">和歌山</option>
            <option value="2600">京都</option>
            <option value="2500">滋賀(大津)</option>
            <option value="2400">三重(津)</option>
        </select>
        <input type="submit">
    </form>
</body>

</html>